.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh; /* Ocupa toda la pantalla */
    background-image: url('imagenes/inicio/inicio_estduaintes.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Cambia el color del texto a blanco para mayor contraste */
}

.bienvenido-texto {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
}

.colegio-nombre {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.eslogan {
    font-size: 1.2rem;
    color: #000;
    margin-top: 5px;
    margin-bottom: 20px;
}

.lineas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.linea-gris {
    width: 80px;
    height: 30px;
    background-color: #888;
}

.linea-amarilla {
    width: 80px;
    height: 30px;
    background-color: #FFD700;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 600px) {
    .lineas {
        flex-direction: column; /* Coloca las líneas en una columna en pantallas pequeñas */
        gap: 3px; /* Ajusta el espacio entre las líneas */
    }
}

header{
  position: fixed;   /* Fija el header en su posición */
  top: 0;            /* Mantiene el header pegado a la parte superior */
  left: 0;           /* Alinea el header al borde izquierdo */
  width: 100%;       /* Ocupa todo el ancho de la pantalla */
  z-index: 1000;     /* Coloca el header por encima de otros elementos */
  background-color: #ffffff; /* Color de fondo del header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra para distinguirlo */
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body h2{
	font-weight: 900;
}
body h3{
	font-weight: 900;
}

.imagen-borde{
	width: 300px;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.navbar a {
    color: #000 !important; /* Enlaces del navbar en negro */
}

footer a {
    color: white !important;
}

footer a:hover {
    color: #6c5ce7 !important;
}

Button{
	background-color: white;
	color: #EE3137;
}

.logo{
	width: 100px !important;
}

.botonmenu{
	background-color: white;
	color: red;
	font-size: 50px !important;;
}

#quienes-somos{
	background-color: #4246C5;
	position: relative;
    z-index: 1;  /* Asegura que el contenido de la sección esté por encima de la imagen */
}

#mision{
	background-color: #74CFE4;
}

#vision{
	background-color: #EDBF47;
}

#promesa{
	background-color: #C589CF;
}

.matricula{
	background-color: #8BC585;
}

.Docentes{
	background-color: #C59C85;
}

.aula-tic{
	background-color: #9A85C5;
}

.btenviar{
	background-color: #643D2E;
	border: none;
}


/* Sección de misión y visión */
.custom-text-section {
    padding: 20px; /* Espaciado interno */
}

/* Estilo para la imagen personalizada */
.custom-img-container {
    overflow: hidden; /* Evita desbordamientos */
}

.custom-img {
    object-fit: cover; /* Mantiene la relación de aspecto */
    height: 100%; /* Hace que la imagen ocupe el alto del contenedor */
}

/* Espaciado entre filas */
.custom-row {
    margin-bottom: 20px; /* Espaciado entre filas */
    margin: 0 auto;
}

.overlow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5); /* Azul con opacidad del 50% */
    pointer-events: none; /* Para que los clics pasen a través del overlay */
    opacity: 50%;
}

.wave{
	position: absolute;
	width: 100%;
	bottom: -10px;
}