/* Estilos personalizados */
.hero-section {
    height: 50vh; /* Ocupa toda la pantalla del dispositivo */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(imagenes/inicio/inicio_estduaintes.webp);
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-top: 50px;
}

.card-custom {
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.navbar a {
    color: #000 !important; /* Enlaces del navbar en negro */
}

footer a {
    color: white !important;
}

footer a:hover {
    color: #6c5ce7 !important;
}

Button{
	background-color: white;
	color: #EE3137;
}

.logo{
	width: 100px !important;
}

.botonmenu{
	background-color: white;
	color: red;
	font-size: 50px !important;;
}

#quienes-somos{
	background-color: #4246C5;
}

#mision{
	background-color: #74CFE4;
}

#vision{
	background-color: #EDBF47;
}

.matricula{
	background-color: #8BC585;
}

.Docentes{
	background-color: #C59C85;
}

.aula-tic{
	background-color: #9A85C5;
}